<%- include('./../layouts/header.mjml.ejs') %>

      <!-- Main Content -->
      <mj-section>
        <mj-column>

          <mj-text>
            Hello,
          </mj-text>

          <mj-text>
            A new group member <strong>
              <a href="<%= tenantConfig?.frontendDomain + '/members/' + groupMember?.user?.slug %>"><%= groupMember?.user?.name %></a>
            </strong>, has requested to join your group <strong>
              <a href="<%= tenantConfig?.frontendDomain + '/groups/' + groupMember?.group?.slug %>"><%= groupMember?.group?.name %></a>
            </strong>.
          </mj-text>

          <mj-text>
            Please review their request and change their role on the group.
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- Button -->
      <mj-section padding="20px">
        <mj-column>
          <mj-button href="<%= tenantConfig?.frontendDomain + '/groups/' + groupMember?.group?.slug %>" background-color="#7B71DA" color="#FFFFFF" font-size="16px">
            View Group
          </mj-button>
        </mj-column>
      </mj-section>

<%- include('./../layouts/footer.mjml.ejs') %>