<mjml>
  <mj-head>
    <mj-title><%= (tenantConfig && tenantConfig.tenantName) || 'OpenMeet' %> - Event Status Changed</mj-title>
    <mj-preview>Your event attendance status has been updated</mj-preview>
    <mj-attributes>
      <mj-all font-family="Inter, sans-serif" />
      <mj-text font-size="15px" color="#1E1A43" />
      <mj-button font-size="15px" color="#1E1A43" font-weight="700" border-radius="6px" />
    </mj-attributes>
  </mj-head>
  <mj-body background-color="#F5F5FA">
    <%- include('./../layouts/header.mjml.ejs', { tenantConfig: tenantConfig }) %>

    <!-- Main Content -->
    <mj-section>
      <mj-column>
        <mj-text>
          Hello,
        </mj-text>

        <mj-text>
          Your status for the event <strong>
            <a href="<%= (tenantConfig?.frontendDomain || '#') + '/events/' + eventAttendee?.event?.slug %>"><%= eventAttendee?.event?.name %></a>
          </strong>, has been updated to <strong>
            <%= eventAttendee?.status %>
          </strong>.
        </mj-text>

        <mj-text>
          Your role is <strong>
            <%= eventAttendee?.role?.name %>
          </strong>.
        </mj-text>
      </mj-column>
    </mj-section>

    <!-- Button -->
    <mj-section padding="20px">
      <mj-column>
        <mj-button href="<%= (tenantConfig?.frontendDomain || '#') + '/events/' + eventAttendee?.event?.slug %>" background-color="#7B71DA" color="#FFFFFF" font-size="16px">
          View Event
        </mj-button>
      </mj-column>
    </mj-section>

    <%- include('./../layouts/footer.mjml.ejs', { tenantConfig: tenantConfig }) %>
  </mj-body>
</mjml>